@model List<ProjetoInicio.Models.Produto>

<h1>Produtos</h1>

<a asp-action="Criar" class="btn btn-primary mb-3">
    Novo Produto
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var produto in Model) 
        {
            <tr>
                <td>@produto.Id</td>
                <td>@produto.Nome</td>
                <td>@produto.Preco</td>
            </tr>
        }
    </tbody>
</table>